/*-- scss:defaults --*/

// Fonts
$font-weight-base: 400 !default;

//Links
$toc-color: #7a0019; /*c10088;  /*-- Set active link color for TOC sidebar (RIGHT) --*/


// Top Navigation
$navbar-bg: #5b0013; /*#0B3948;*/
$navbar-fg: #fff;
$navbar-hl: #fff;

// Inline code
$code-bg: #2b2b2b;
$code-color: #ffd700;

$body-secondary: #000;


/*-- scss:rules --*/

// Headings
h1, h2, h3, h4, h5, h6 {
  color: #000;
}

.header-section-number {
  color: #000;
}

/* Make th of texreg table normal font weight
.texreg th {
  font-weight: normal;
} */


p {
  font-family: 'Atkinson Hyperlegible', serif;
  line-height: 1.3em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

// List elements
li {
  font-family: 'Atkinson Hyperlegible', serif;
  line-height: 1.5em;
}

li > p {
  margin-top: 0;
  margin-bottom: 0;
}

// Mouse over link
a:hover {
  color: #7a0019; /*c10088;*/
}



// Figure caption
.figure-caption {
  font-size: 12pt;
  font-style: italic;
  color: #000;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

figure figcaption{
  font-size: 12pt;
  color: #000;
  line-height: 1.3em;
}

.answerkey {
  color: #424242;
  margin-left: 35px;
  font-style: italic;
}

